.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    animation: changeBG 1s linear infinite;
}

@keyframes changeBG{
    to{
        filter: hue-rotate(360deg);
    }
}

.loader{
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% - (15px));
    left: calc(50% - (15px));
    border-radius: 50%;
    animation: x-axis 1s;
}
